#wrapper
  #panorama
.container.fade-in-start
  #logo-big.center-block= image_tag('logo.png')
  .actions
    %button.center-block{:type => :button, :class =>'btn btn-default'}= 'משחק חדש'

:javascript
  $(document).ready(function() {

    new window.StreetViewService({
      lat: 32.086604,
      lng: 34.789512,
      spin: true,
      disableInteraction: true,
    })

    setTimeout(function() {
      eifoAniTheme = new buzz.sound('/sounds/eifo-ani', {
          formats: [ 'ogg', 'mp3' ]
      });
      //eifoAniTheme.play()

      $('.fade-in-start').removeClass('fade-in-start').addClass('fade-in')

    }, 1000)

  });