@import 'compass';
@import 'bootstrap';
@import 'effects';

$logo-top-padding: 100px;
$logo-size: 632px;
$actions-top-margin: 50px;

html, body, #wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  position: relative;
  margin-top: $logo-top-padding;
}

.actions {
  margin-top: $actions-top-margin;
}

#logo-big {
  width: $logo-size;
}

#panorama {
  height: 100%;
  width: 100%;
}
